body {
    font-size: 16px;
    font-family: 'Work Sans' !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px !important;
    padding: 0px !important;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

@media screen and (max-width:576px) {
    h2 {
        font-size: 32px !important;
    }
}

.btn-green {
    cursor: pointer;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    color: #ffffff !important;
    background-color: #82b443 !important;
}

.btn-green:hover {
    text-decoration: none;
    color: #82b443 !important;
    background-color: #ffffff !important;
    border-radius: 4px;
    border: 1px solid #82b443;
}

a:hover {
    text-decoration: none !important;
}

.sale {
    border-bottom: 1px solid #eeeeee;
    .logo {
        font-family: DMSans;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.72px;
        text-align: left;
        color: #000000;
    }
    .sale__time {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
    }
    .countdown-time {
        padding-left: 16px;
    }
    h4 {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    ul {
        list-style-type: none;
    }
    ul,
    li {
        padding: 0 !important;
        margin: 0 !important;
    }
    li::marker {
        display: none;
    }
    ul li span {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #100f0f;
    }
    ul li p {
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
    }
    li {
        border: 1px solid #eeeeee;
        border-radius: 12px;
        background-color: #f8f8f8;
        margin-right: 8px !important;
        padding: 8px 12px !important;
    }
    @media screen and (max-width:768px) {
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .logo {
            text-align: center;
        }
        .sale__time {
            padding-top: 12px;
            flex-direction: column;
        }
        .countdown-time {
            padding-left: 0;
            padding-top: 8px;
        }
    }
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
        font-size: 48px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: -1.44px;
        color: #000000;
    }
    .text-attention {
        color: #82b443;
    }
    p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        color: #666666;
    }
    .btn-green {
        padding: 18px 50px;
    }
    @media screen and (max-width:992px) {
        .col-md-1 {
            display: none;
        }
        .col-md-5,
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media screen and (max-width:768px) {
        padding-top: 80px;
        padding-bottom: 80px;
        p {
            text-align: center;
        }
        .btn-green {
            padding: 18px 10px;
        }
    }
    @media screen and (max-width:576px) {
        padding-top: 60px;
        padding-bottom: 60px;
        .col-md-5,
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .col-md-6 {
            padding-bottom: 16px;
        }
        h2,
        p {
            text-align: center;
        }
    }
    @media screen and (max-width:320px) {
        .btn-green {
            padding: 18px 5px;
            font-size: 12px;
        }
    }
    @media screen and (max-width:281px) {
        .btn-green {
            font-size: 12px;
            padding: 18px 6px;
        }
    }
}

.delivery {
    .col-md-4 {}
    .delivery__border {
        border: 1px solid #eeeeee;
        text-align: center;
        padding: 24px 0px;
    }
    h2 {
        font-size: 48px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: -1.44px;
        text-align: center;
        color: #000000;
    }
    p {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 2px;
        text-align: center;
        color: #82b443;
    }
    @media screen and (max-width: 768px) {}
    @media screen and (max-width:576px) {
        padding-top: 18px;
        .col-md-4 {
            padding-bottom: 12px;
        }
        .col-md-4:last-child {
            padding-bottom: 0px;
        }
    }
}

.quote {
    padding-top: 60px;
    padding-bottom: 60px;
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -1.2px;
        text-align: left;
        color: #000000;
    }
    p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        text-align: left;
        color: #555555;
    }
    @media screen and (max-width:992px) {
        .col-md-1 {
            display: none;
        }
        .col-md-5,
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media screen and (max-width:768px) {
        .order-col {
            order: -1;
        }
        .col-md-6,
        .col-md-5 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .padding-bottom-40 {
            padding-bottom: 24px;
        }
        .padding-bottom-32 {
            padding-bottom: 20px;
        }
        .padding-bottom-24 {
            padding-bottom: 16px;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}

.new {
    margin-left: 40px;
    margin-right: 40px;
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    background-color: #0b1400;
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -1.2px;
        color: #ffffff;
    }
    p {
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.44px;
        color: #ffffff;
    }
    .new__icon {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
        i {
            font-size: 40px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: -1.2px;
            color: #ffb649;
        }
    }
    .btn-green {
        padding: 14px 36px;
    }
    @media screen and (max-width:1024px) {
        margin-left: 0;
        margin-right: 0;
        .col-md-1 {
            display: none;
        }
        .col-md-5,
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media screen and (max-width:768px) {
        .container {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .col-md-5,
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-6 {
            padding-bottom: 16px;
            text-align: center;
        }
        .col-md-5 {
            text-align: center;
        }
        .new__icon {
            justify-content: center;
        }
    }
    @media screen and (max-width:576px) {
        .container {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    @media screen and (max-width:380px) {
        .btn-green {
            padding: 14px 18px;
        }
    }
    @media screen and (max-width:320px) {
        .btn-green {
            padding: 14px 4px;
        }
    }
    @media screen and (max-width:280px) {
        .btn-green {
            font-size: 12px;
            padding: 14px 12px;
        }
    }
}

.checkout {
    padding-top: 100px;
    .container {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 200px;
    }
    .col-md-7 {
        position: relative;
    }
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -1.2px;
        text-align: left;
        color: #000000;
    }
    .text-attention {
        color: #82b443;
    }
    p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        text-align: left;
        color: #000000;
    }
    .btn-white {
        cursor: pointer;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: left;
        background-color: #ffffff !important;
        color: #000000 !important;
        border: 1px solid #82b443;
        padding: 14px 54px;
    }
    .btn-white:hover {
        background-color: #82b443 !important;
        text-decoration: none;
        color: white !important;
    }
    .checkout__img--absolute {
        position: absolute;
        left: 29%;
    }
    @media screen and (max-width:1024px) {
        .container {
            padding-bottom: 100px;
        }
        .col-md-7 {}
        .checkout__img--absolute {
            position: unset;
        }
    }
    @media screen and (max-width: 768px) {
        padding-top: 80px;
        .col-md-5,
        .col-md-7 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        h2,
        p {
            text-align: center;
        }
        .container {
            padding-bottom: 80px;
        }
        .order-col {
            order: -1;
        }
        .col-md-7 {
            padding-bottom: 16px;
        }
    }
    @media screen and (max-width:576px) {
        padding-top: 60px;
        .container {
            padding-bottom: 60px;
        }
    }
    @media screen and (max-width:290px) {
        .btn-white {
            padding: 14px 38px;
        }
    }
}

.testimonial {
    padding-top: 80px;
    padding-bottom: 80px;
    .testimonial__title {
        padding-bottom: 60px;
    }
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -1.2px;
        text-align: center;
        color: #000000;
    }
    .checked {
        font-size: 24px;
        color: #fdb01a;
    }
    h3 {
        font-size: 32px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #82b443;
    }
    p {
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: -0.48px;
        text-align: left;
        color: #000000;
    }
    h4 {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        text-align: left;
        color: #000000;
    }
    h5 {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        text-align: left;
        color: #666666;
    }
    .col-md-5 {
        outline: none;
        margin-right: 85px;
        margin-left: 85px;
    }
    @media screen and (max-width: 1024px) {
        .col-md-5 {
            margin-right: 0;
            margin-left: 0;
        }
    }
    @media screen and (max-width:768px) {
        .testimonial__title {
            padding-bottom: 40px;
        }
    }
    @media screen and (max-width:576px) {
        .testimonial__title {
            padding-bottom: 32px;
        }
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

.product {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f9f9f9;
    .product__title {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -1.2px;
        color: #000000;
    }
    .product__price {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: baseline;
    }
    .product__price--number {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -1.2px;
        color: #000000;
    }
    .product__price--text {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: -0.32px;
        color: #ff0000;
    }
    .quantity__group {
        padding: 8px 16px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
    }
    p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        text-align: left;
        color: #555555;
    }
    .text {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        color: #000000;
    }
    input {
        text-align: center;
        width: 32px;
        background-color: #ffffff;
        border: none;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        outline: none;
    }
    [type=number] {
        border: none;
        appearance: none;
        appearance: textfield;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        outline: none;
    }
    /* hide quantity in input */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .minus,
    .plus {
        border: none;
        background: white;
        outline: none;
        background-color: #ffffff;
    }
    .quantity__width {
        width: 32%;
    }
    .quantity_group {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        height: 48px;
        border: solid 1px #070505;
        background-color: #ffffff;
        padding: 10px 8px;
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        text-align: center;
    }
    i {
        opacity: 0.2;
    }
    .product__quantity {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        color: #000000;
    }
    .btn-green {
        padding: 18px 158px;
    }
    @media screen and (max-width:1024px) {
        .col-md-1 {
            display: none;
        }
        .col-md-5,
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .btn-green {
            padding: 18px 120px;
        }
    }
    @media screen and (max-width:768px) {
        .btn-green {
            padding: 18px 100px;
        }
        .quantity__width {
            width: 40%;
        }
    }
    @media screen and (max-width:576px) {
        padding-top: 60px;
        padding-bottom: 60px;
        .col-md-5,
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .col-md-6 {
            padding-bottom: 16px;
        }
        .quantity__width {
            margin-left: auto;
            margin-right: auto;
        }
        .product__price {
            justify-content: center;
        }
        .product__title {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 320px) {
        .quantity__width {
            width: 50%;
        }
        .btn-green {
            padding: 18px 68px;
        }
    }
}

.faqs {
    padding-top: 100px;
    padding-bottom: 100px;
    .faqs__title {
        text-align: center;
        padding-bottom: 60px;
    }
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1a1a;
    }
    .accordion {
        margin: 2rem auto;
    }
    .accordion-item {
        margin: 0.2rem 0;
        border-bottom: 1px solid #e8e8e8;
    }
    .accordion-item-header {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        padding-bottom: 24px;
    }
    .accordion-item-header h4 {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #1a1a1a;
        padding-right: 40px !important;
    }
    .accordion-item-header::after {
        content: "\002B";
        font-size: 18px;
        position: absolute;
        right: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #82b443;
        font-family: LineIcons;
    }
    .accordion-item-header.active::after {
        content: "\2212";
    }
    .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 80%;
    }
    .accordion-item-body-content {
        padding-bottom: 24px;
    }
    .accordion-item-body-content p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        opacity: 0.8;
        text-align: left;
    }
    @media screen and (max-width:1100px) {
        .col-md-1 {
            display: none;
        }
        .col-md-5 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media screen and (max-width:768px) {
        padding-top: 80px;
        padding-bottom: 80px;
        .faqs__title {
            padding-bottom: 40px;
        }
    }
    @media screen and (max-width :576px) {
        padding-top: 60px;
        padding-bottom: 60px;
        h2 {
            font-size: 36px;
        }
        .col-md-5 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .faqs__title {
            padding-bottom: 32px;
        }
    }
}

.last {
    padding-top: 60px;
    padding-bottom: 78px;
    background-image: url(img/Rectangle725.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -1.2px;
        color: #000000;
    }
    ul {
        list-style-type: none;
    }
    ul,
    li {
        padding: 0 !important;
        margin: 0 !important;
    }
    li::marker {
        display: none;
    }
    ul li span {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #100f0f;
    }
    ul li p {
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
    }
    li {
        border: 1px solid #eeeeee;
        background-color: #f8f8f8;
        margin-right: 8px !important;
        padding: 8px 12px !important;
    }
    .margin-bottom-32 {
        margin-bottom: 50px;
    }
    .btn-green {
        padding: 16px 36px;
    }
    @media screen and (max-width:992px) {
        .btn-green {
            padding: 16px 30px;
        }
    }
    @media screen and (max-width: 991px) {
        .col-lg-5 {
            text-align: center;
            justify-content: center;
        }
        h2 {
            text-align: center;
        }
        .text-center {
            justify-content: center !important;
            text-align: center !important;
        }
    }
    @media screen and (max-width:380px) {
        .btn-green {
            padding: 16px 18px;
            font-size: 12px;
        }
    }
    @media screen and (max-width:320px) {}
    @media screen and (max-width:320px) {
        .btn-green {
            padding: 16px 4px;
            font-size: 12px;
        }
    }
    @media screen and (max-width:280px) {
        .btn-green {
            padding: 16px 12px;
            font-size: 12px;
        }
    }
}

footer {
    .container {
        border-bottom: 1px solid #e8e8e8;
        padding-top: 30px;
        padding-bottom: 24px;
    }
    .logo {
        text-align: left;
    }
    h2 {
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.72px;
        color: #000000;
    }
    h4 {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    .footer__text {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
    }
    h4 {
        padding-right: 48px !important;
    }
    h4:last-child {
        padding-right: 0 !important;
    }
    .col-md-6,
    .col-md-3 {
        align-self: center;
    }
    .footer__icon {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-end;
    }
    i {
        padding-right: 16px;
    }
    i:last-child {
        padding-right: 0;
    }
    .coppryright {
        text-align: center;
    }
    @media screen and (max-width:576px) {
        .logo {
            text-align: center;
        }
        .row {
            flex-direction: column;
            text-align: center;
        }
        .col-md-5 {
            justify-content: center;
            text-align: center;
        }
        .footer__text {
            flex-direction: column;
            justify-content: center;
        }
        .footer__icon {
            padding-top: 16px;
            justify-content: center;
        }
        h4 {
            padding-right: 0 !important;
        }
        h4 {
            padding-top: 16px !important;
        }
    }
}